@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap%27');
.flex-container{ 
    background: #3caadd; 
    padding: 40px 60px;
    margin-top: 2%;
    width: 40%; 
    display: flex; 
    margin-left: 100px; 
    border-radius: 20px;
}
 .container-f form button{
    background: #0dcc3d;
    border-radius: 8px;
    transition: all 0.4s;
    cursor: pointer;
}
.container-f form button:hover{
    background: #0a962d;
}